/* ----------------------------------------- *\
xx: Colors
\* ----------------------------------------- */

.bg--white {
  background-color:  #fff;
}
.bg--light--gray {
  background-color:  #f3f4f4;
}
.bg--dark--gray {
  background-color:  #333;
}
.bg--purple {
  background-color:  #333;
}
.bg--dark--green {
  background-color:  #6BC788;
}

.text--white {
  color: #fff;
}
.text--purple {
  color: #333;
}
.text--dark--gray {
  color: #333;
}
