/*------------------------------------------------------------------
[Master Stylesheet]

Project Name: 
Version: 1.0.0
Author: 
Website: 
Last Update: 
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents ]

 Body
    01:  Header

-------------------------------------------------------------------*/

/* ----------------------------------------- *\
   01: Header
\* ----------------------------------------- */
.inav {
	padding: 15px 0px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.05);
}
.inav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.inav--btn {
	color: #36404A;
    font-size: 18px;
    line-height: 21px;
    width: 80px;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
}
.inav--top--nav {
	display: inline-block;
}
.iform--item {
	outline: none;
	font-size: 14px;
}
.iform--submit {
	cursor: pointer;
}
.inav--search {
	position: relative;
	display: inline-block;
}
.inav--item {
	display: inline-block;
	padding: 0px 20px;
}
.badge {
    position: absolute;
    top: -15px;
    right: -15px;
    min-width: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}


.inav--item > a {
	position: relative;
}
.inav--search .iform--item{
	height: auto;
    padding: 15px 65px 15px 20px;
    background-color: #f3f4f4;
    border-width: 0;
    border-radius: 25px;
    box-shadow: none;
}
.inav--search .iform--submit{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 25px;
}