/*------------------------------------------------------------------
[Table of contents ]

Body
xx:  Typography

-------------------------------------------------------------------*/

@import "preset/defined-classes.css";
@import "preset/colors.css";
@import "preset/badges.css";
@import "preset/form.css";

/* ----------------------------------------- *\
xx: Typography
\* ----------------------------------------- */

body {
  margin: 0;
  background-color: #F6F6F9;
  font-family: 'Poppins', sans-serif;
}
a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: #000;
}
a:hover {
  color: #673AB7;
}