/*------------------------------------------------------------------
[Table of contents ]

 Body
    xx:  Typography

-------------------------------------------------------------------*/

/* ----------------------------------------- *\
   xx: Typography
\* ----------------------------------------- */

body {
  margin: 0;
  background-color: #F6F6F9;
  font-family: 'Poppins', sans-serif;
}
a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: #000;
  transition: .5s;
}
a:hover {
  color: #673AB7;
}